<div class="container">

  <br>
  <br>
  <div class="card text-center border-dark">
    <div class="card-header border-dark">
        <strong>Reto 2</strong> 
      </div>
      <div class="card-body">
        <p class="card-text">
          Tu IP es: <strong><%= @ip %></strong>
        </p>
        <p class="card-text">
          N&uacute;mero de visitas: <strong><%= @visitors %></strong>           
        </p>
        <p class="card-text">
          Fecha de registro: 
          <strong><%= @visitor.created_at %></strong>
        </p>

      </div>
      <div class="card-footer border-dark text-muted">
        <a href="https://github.com/jrbeduardo" style="text-decoration: none;"><i class="bi bi-github"></i></i> jrbeduardo </a>
      </div>
  </div>      
</div>


